# Telegram
BOT_TOKEN=7xxxxxxxxxx:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MANAGERS_GROUP_ID=-1001234567890

# База данных Django
DJANGO_DB_PATH=../cts/db.sqlite3

# admins id
ADMIN_IDS=123456789
# Email
EMAIL_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASSWORD=xxxx xxxx xxxx xxxx
EMAIL_FROM=your@gmail.com
EMAIL_TO=manager@yourcompany.ru

# Логирование
LOG_LEVEL=INFO

SPREADSHEET_ID=id_из_url_таблицы
GOOGLE_CREDENTIALS_FILE=/app/bot/credentials.json
