{% extends 'main/index.html' %}
<!-- Блок разрешение -->
{% block resolution %}
    {% for resolution in resolutions %}
        <label class="filter-option">
            <input type="radio"
                   name="resolution"
                   data-filter="resolution"
                   value="{{ resolution }}" >
                        <span class="radio-custom"></span>
            {{resolution}} Мп</label>
    {% endfor %}

{% endblock %}


<!-- Блок типы -->
{% block types %}
    {% for type in types %}
        <label class="filter-option"><input type="radio" name="type" data-filter="type" value="{{ type }}" > {{type}}</label>
    {% endfor %}
{% endblock %}


<!-- Блок технология ночного видения-->

{% block night_vision_technology %}
    {% for night_vision_technology in night_vision_technologies %}
        <label class="filter-option"><input type="radio" name="night_vision_technology" data-filter="night_vision_technology" value="{{ night_vision_technology }}" > {{night_vision_technology}} </label>
    {% endfor %}

{% endblock %}

<!-- Тип подключения-->

{% block connection_types%}
    {% for connection_type in connection_types %}
        <label class="filter-option"><input type="radio" name="connection_types" data-filter="connection_type"  value="{{ connection_type }}"> {{connection_type}} </label>
    {% endfor %}

{% endblock %}

<!-- Объектив-->
{% block lens%}
    {% for len in lens %}
        <label class="filter-option"><input type="radio" name="lens" data-filter="lens" value={{len}} data-group="multiple" > {{len}} </label>
    {% endfor %}
{% endblock %}


<!-- Аналитика-->
{% block analytics%}
     <div class="filter-options" id="analyticsFilters">
                            <label class="filter-option">
                                <input type="checkbox" data-filter="has_people_analytics" data-group="boolean" class="filter-checkbox">
                                <span class="checkbox-custom"></span>
                                Человек
                            </label>
                            <label class="filter-option">
                                <input type="checkbox" data-filter="has_cars_analytics" data-group="boolean" class="filter-checkbox">
                                <span class="checkbox-custom"></span>
                                Т/С
                            </label>
                            <label class="filter-option">
                                <input type="checkbox" data-filter="has_special_cars_analytics" data-group="boolean" class="filter-checkbox">
                                <span class="checkbox-custom"></span>
                                Спец. транспорт
                            </label>
                        </div>
{% endblock %}



